
.abstract-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.abstract-text-toggled {
    /* overflow: hidden; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
}