.description-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 900px;
    margin-right: 10px;
    color: #444444;
}

.journal-styles {
    font-size: 0.8rem;
    padding: 3px;
    margin: 3px;
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}


.date-styles {
    font-size: 0.8rem;
    padding: 3px;
    border-left: solid 1px #d3d3d3;
}